
@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
            background-color: #f0f7f5;
        }


        .sidebar {
            margin: 100px 21px 16px 16px;
            padding: 10px;
            width: 256px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: white;
            overflow-x: hidden;
            padding-top: 16px;
            border-radius: 20px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: black;
                display: block;
            }

                .sidebar a:hover {
                    color: #0094ff;
                }


        .navbar {
            position: fixed;
            z-index: 5;
        }

        .main {
            background-color: white;
            margin-left: 292px; /* Same as the width of the sidenav */
            padding: 20px 30px 20px 20px;
            margin-right: 25px;
            border-radius: 20px;
            margin-top: 100px
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>
    <!-- Just an image -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow p-3 mb-5 bg-body rounded">
        <div class="container-fluid px-5 d-flex justify-content-between">
            <a class="navbar-brand" href="#">Kütüphane Uygulaması</a>
            <div class="d-flex align-items-center">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp" alt="Avatar" width="40" height="40" class="rounded-circle me-2">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav pull-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @HttpContext.Current.User.Identity.Name
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/Auth/Login/">Exit</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="sidebar shadow p-3 mb-5 bg-body rounded">
        <a href="/Admin/Home/"><i class="glyphicon glyphicon-home"></i> &nbsp; Anasayfa</a>
        <a href="/Admin/Category/"><i class="glyphicon glyphicon-list"></i> &nbsp; Kategoriler</a>
        <a href="/Admin/Book/"><i class="glyphicon glyphicon-book"></i> &nbsp; Kitaplar</a>
        <a href="/Admin/Author/"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Yazarlar</a>
        <a href="/Admin/Member/"><i class="glyphicon glyphicon-user"></i> &nbsp; Kullanıcılar</a>
        <a href="/Admin/Staff/"><i class="glyphicon glyphicon-tower"></i> &nbsp; Görevliler</a>
        <a href="/Admin/Borrow/"><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Ödünç Alınan Kitaplar</a>
        <a href="/Admin/Borrow/Borrow/"><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Kitap Ödünç Al</a>
        <a href="/Admin/Borrow/Borrowed/"><i class="glyphicon glyphicon-circle-arrow-left"></i> &nbsp; Geri Getirilen Kitaplar</a>
    </div>
    <div class="main shadow mb-5 rounded">
        @RenderBody()
    </div>
</body>
</html>
