@model MvcLibrary.Models.Entity.TBLMESSAGE

@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/MembersLayout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Alıcı Mail</label>
        @Html.TextBoxFor(x => x.RECEIVER, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Konu</label>
        @Html.TextBoxFor(x => x.TOPIC, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>İçerik</label>
        @Html.TextAreaFor(x => x.CONTENTS, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Gönder</button>
    </div>
</form>



