@model MvcLibrary.Models.Entity.TBLAUTHOR
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    
    <div class="container-fluid">
        <div class="row" style=" margin-top: 15px">
            <div class="col-6" >
                <label>Yazar Ad</label>
                <input type="text" class="form-control" name="NAME" />
            </div>

            <div class="col-6" >

                <label>Yazar Soyad</label>
                <input type="text" class="form-control" name="SURNAME" />
            </div>
        </div>
    </div>


    <div style="margin-top:15px">
        <label>Yazar Detay</label>
        <textarea type="text" class="form-control" name="DETAIL" ></textarea>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="add-Button">Yazar Ekle</button>
    </div>
</form>