@using MvcLibrary.Models.Entity
@model List<TBLAUTHOR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Detay</td>
        <td>Güncelle</td>
        <td>Diğer Kitaplar</td>
    </tr>
    @foreach(var y in Model)
            {
                <tr>
                    <td>@y.ID</td>
                    <td>@y.NAME</td>
                    <td>@y.SURNAME</td>
                    <td>@y.DETAIL</td>
                    <td><a href="/Admin/Author/GetAuthor/@y.ID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Admin/Author/GetAuthorsBooks/@y.ID" class="btn btn-success" style="background-color:lightcoral">Diğer Kitaplar</a></td>
                    
                </tr>
            }
</table>

<a class="btn btn-primary" href="/Admin/Author/AddAuthor">Yazar Ekle</a>