@using MvcLibrary.Models.Entity
@model List<TBLACTION>
@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/MembersLayout.cshtml";
}
<br />
<h2>Kitaplarım</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Ödünç Alınma Tarihi</th>
        <th>Teslim Edilme Tarihi</th>
    </tr>
    @foreach (var k in Model)
        {
            <tr>
                <td>@k.TBLBOOK.NAME</td>
                <td>@Convert.ToDateTime(k.BORROWDATE).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(k.RETURNDATE).ToString("dd/MM/yyyy")</td>
            </tr>
        }
</table>