
@{
    Layout = null;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mvc5 Library</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- fontawesome css -->
    <link href="~/weblogin/css/fontawesome-all.css" rel="stylesheet" />
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->

</head>


<body class="h-100">
    <!-- Section: Design Block -->
    <section class="h-100">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start h-100" style="background-color: hsl(0, 0%, 96%)">
            <div class="container h-100 d-flex align-items-center">
                <div class="row gx-lg-5 align-items-center justify-content-between">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Bilgi Dünyanızı Genişletin <br />
                            <span style="color:#1ABC9C">Kütüphane Hizmetlerimizle</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Zengin literatür ve sınırsız bilgiyle dolu bir dünyaya adım atın. Kütüphane uygulamamız, geniş bir kitap, makale ve kaynak koleksiyonuna sorunsuz erişim sağlamak amacıyla tasarlanmıştır. Öğrenci, araştırmacı ya da tutkulu bir okur olun, platformumuz keşfetmeniz, öğrenmeniz ve keşfetmeniz için kullanıcı dostu bir deneyim sunar.
                        </p>
                    </div>


                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form>
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="NAME">Adınız</label>
                                                <input type="text" id="NAME" name="NAME" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="SURNAME">Soyadınız</label>
                                                <input type="text" id="SURNAME" name="SURNAME" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="MAIL">E-Posta Adresiniz</label>
                                        <input type="email" id="MAIL" name="MAIL" class="form-control" />
                                    </div>

                                    <!-- UserName input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="USERNAME">Kullanıcı Adınız</label>
                                        <input type="text" id="USERNAME" name="USERNAME" class="form-control" />
                                    </div>

                                    <!-- Şifre input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="PASSWORD">Şifreniz</label>
                                        <input type="password" id="PASSWORD" name="PASSWORD" class="form-control" />
                                    </div>

                                    <!-- Telefon input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="PHONE">Telefon Numaranız</label>
                                        <input type="number" id="PHONE" name="PHONE" class="form-control" />
                                    </div>

                                    <!-- School input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="SCHOOL">Okulunuz*</label>
                                        <select class="form-select p-3" id="SCHOOL" required="" name="SCHOOL">
                                            <option value="" selected disabled>Seçiniz*</option>
                                            <option value="Fırat Üniversitesi">Fırat Üniversitesi</option>
                                            <option value="Gazi Üniversitesi">Gazi Üniversitesi</option>
                                            <option value="Akdeniz Üniversitesi">Akdeniz Üniversitesi</option>
                                            <option value="Çukurova Üniversitesi">Çukurova Üniversitesi</option>
                                            <option value="Uludağ Üniversitesi">Uludağ Üniversitesi</option>
                                            <option value="Karabük Üniversitesi">Karabük Üniversitesi</option>
                                            <option value="Anadolu Üniversitesi">Anadolu Üniversitesi</option>
                                        </select>
                                    </div>

                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-start mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                        <label class="form-check-label" for="form2Example33">
                                            Şartları okudum kabul ediyorum.
                                        </label>
                                    </div>

                                    <!-- Submit button -->
                                    <button style="color:white;background-color:#1ABC9C" type="submit" class="btn btn-primary btn-block mb-4">
                                        Kayıt Ol
                                    </button>
                                    <div class="d-flex justify-content-center">
                                        <p class="w3l-register-p">Zaten Hesabınız var mı?<a href="/Auth/Login" class="register"> Giriş YAP</a></p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>