@model MvcLibrary.Models.Entity.TBLCATEGORY
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AddCategory", "Admin/Category", FormMethod.Post, new { @class = "needs-validation", @novalidate = "novalidate" }))
{
<div></div>
<div style="margin-top:15px">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="NAME" />
</div>
<div style="margin-top:15px">
    <button class="btn btn-info" id="add-Button">Kategori Ekle</button>
</div>
}