@using MvcLibrary.Models.Entity
@model List<TBLCATEGORY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Name</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    
    @foreach (var ctg in Model)
    {
        <tr>
            <td>@ctg.ID</td>
            <td>@ctg.NAME</td>
            <td><a href="/Admin/Category/DeleteCategory/@ctg.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/Category/GetCategory/@ctg.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
